#blackbird {
	position: absolute;
}

#searchGrid  {
    left:20px;
    position: absolute;
    top:200px;
    
}

.grid_item {
    display: block;
    border: 1px solid #bbb;
    float: left;
    line-height:12px;
    font-size:10px;
}
.grid_item.wall {
    background-color: #9CA69D;
}
.grid_item.start {
    background-color: #FF703F;
}
.grid_item.active {
    background-color: #FF703F;
}
.grid_item.finish {

}